
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <form method="post">
            <table>
                <tr>
                    <td>Category Name</td>
                    <td><input type="text" name="categoryName" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Create" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
